body {
  background-color: #f2f2f2;
  margin: 50px;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px #c4c4c4;
  padding: 10px;
}

div.single-stat {
  flex-grow: 1;
  text-align: center;
  font-family: Avenir, "sans-serif";
}

div.stat-description {
  font-size: 0.75rem;
}

div.stat-value {
  font-weight: bold;
}

div#chart {
  padding-top: 20px;
}

div#chart .ct-series-a .ct-bar {
  stroke: #26369B;
}

div#chart-background {
  background-color: white;
  box-shadow: 0px 0px 20px #c4c4c4;
  margin-top: 20px;
  padding: 20px;
}
